
<section class="heor">
    <div class="title" id = "ABOUT">
      <h1>ABOUT US</h1>
      <div class="container1">
        <div class="hero-content">
          <h2>Mr. Vaibhav Sandhan</h2>
          <h4>Director, Sandhan Gurukul </h4>
    
            <p>
            We claim to be the Best Coaching Institute in the vicinity on the basis of our consistent and astonishing results since our establishment. We are fortunate to have been trusted by 6500+ students since our inception. Sandhan Gurukul is not only imparting knowledge at its best but also giving an emphasis on the application of the gained knowledge. Our alumni have proved us right by consistently doing wonders in their respective fields.
            
            We welcome you to our family withwarm greetings!</p>
          <a href="https://www.instagram.com/sandhan_gurukul/?igsh=MjY4d2s1ZnN4enJ" class="cta-button">Learn More</a>
    
    
        </div>
        <div class="hero-image">
          <img src="assets/image/SandhanSir.jpg">
        </div>
      </div>      
    </div>
    </section>