


.hero{
    background-color: #f8f8f8;
    overflow: hidden;
}


.title h1{
    text-align: center;
    padding-top: 50px;
    font-size: 42px;
}  
.heading h1{
    color: #090909;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
    
}

.container1{
    min-height: 100vh;
    background: #dcdce3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero-content{
    flex:1;
    width: 600px;
    margin: 0px 25px;

}
.hero-content h2{
    font-size: 38px;
    margin-bottom: 20px;
    margin-left: 30px;
    color: #333;
}

.hero-content h4{
    font-size: 30px;
    margin-left: 30px;
    margin-top: 10px;
    color: #333;
}

.hero-content p{
    font-size: 24px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 30px;
    color: #0d0d0d;
}
.hero-content a{
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    margin-left: 30px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;

}
.hero-content a:hover{
    background-color: #ff6347;
    transform: scale(1.1);

}
.hero-image{
    flex:1;
    width: 500px;
    margin-left: 130px; 
}
img{
    width: 400px;
    height: auto;
    
    border-radius: 10px;
    box-shadow: 20px 20px 50px rgba(0,0,0,1);
}
@media screen and (max-width:768px) {
    .heading h1{
        font-size: 45px;
        margin-top: 30px;

    }
    .hero{
        margin: 0px;

    }
    .container1{
        height: 100%;
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }

    .hero-content{
        width:100%;
        margin: 35px 0px;
    }

    .hero-content h2{
        font-size: 30px;
    }
    .hero-content p{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .hero-content button{
        font-size: 16px;
        padding: 8px 16px;
    }

    .hero-image{
        width: 100%;
    }
}










