
<div class="section">
    <div class="title" id = "ADDMISSION">
        <h1>ADDMISSION FORM</h1>
    </div>
    <div class="services">
        <div class="card">
            <h2>11th</h2>
            <p>Basic of 9th & 10th, PCMB All the subject are cover as well as ENTRANCE EXAMINATION Like JEE-Main,NEET,MHT-CET,NATA all this EXAMINATION Syllbus cover in 11th class.</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdAQknD_LtaBcMKYUjHqrcVEPeUn44Ub9JRINcusiHC_O7E2A/viewform?usp=sf_link" class="button">Click Here</a>
        </div>
        <div class="card">
            <h2>12th</h2>
            <p>PCMB All the subject are cover with 11th revision as well as ENTRANCE EXAMINATION Like JEE-Main,NEET,MHT-CET,NATA all this EXAMINATION Syllbus cover in 12th class..</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfrVRhp47syDhFeTUv7n-XkHlA84iuYfRHnsQ5Ka3wBm2WiPA/viewform?usp=sf_link" class="button">Click Here</a>
        </div>
        <div class="card">
            <h2>MHT-CET</h2>
            <p>As a Required for for MHT-CET EXAMINATION all  the Required Syllbus/Topics that can be and also cover NEET,JEE-Main Some Topics in that crash course, the duration of course is 3-4 month </p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdffv-iQUcTOt96cGR8L6FLokcZ4XvzwnHmp1eGpmCZLFuzfw/viewform?usp=sf_link" class="button">Click Here</a>
        </div>
    </div>
    </div>