<nav>
    <input type="checkbox" id="check" name="" value="">
    <label for="check" id="checkbtn"><i class="fa fa-bars"></i></label>
    <label class="logo">Sandhan Gurukul</label>
    <ul>
        <li><a href="#HOME">HOME</a></li>
        <li><a routerLink="/about">ABOUT US</a></li>
        <li><a routerLink="/achivment">STUDENTS ACHIVMENT</a></li>
        <li><a routerLink="/addmissionfrom">ADDMISSION FORM</a></li>
  <li><a routerLink="/contact">CONTACT US</a></li>
    </ul>
    
</nav>


<section class="header">


<div class="text-box" id = "HOME">
  <h1>Welcome to Sandhan Gurukul</h1>
  <h2>MHT-CET, JEE Main, NEET, NATA Best Foundtion</h2>
  
   
</div>
</section>

<app-about></app-about>
<app-addmissionfrom></app-addmissionfrom>
<app-contact></app-contact>